.body{
background-color: crimson;
}
.header{
    font-size: 45px;
    color: #0000CD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph{
font-size: 30px;
color: rgb(255, 230, 0);
}

.image{
    width: 500px;
    height: 500px;


}

.button{
   background-color: black;
    width: 500px;
    height: 400px;
    color: darkorange;
    font-size: 45px;


}
 
.button:hover{
background-color: olive;
border: 5px;
border-color: blueviolet;

}